<style  type="text/css" >
    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow0_col0 {
            color:  maroon;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow0_col2 {
            background-color:  #e5e5ff;
            color:  #000000;
            : ;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow1_col0 {
            color:  maroon;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow1_col2 {
            background-color:  #c5c5ff;
            color:  #000000;
            : ;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow2_col0 {
            color:  maroon;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow2_col2 {
            background-color:  #e5e5ff;
            color:  #000000;
            : ;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow3_col0 {
            color:  maroon;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow3_col2 {
            background-color:  #e5e5ff;
            color:  #000000;
            : ;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow4_col0 {
            color:  maroon;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow4_col2 {
            background-color:  #4242ff;
            color:  #f1f1f1;
            : ;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow5_col0 {
            color:  maroon;
        }    #T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow5_col2 {
            background-color:  #0000ff;
            color:  #f1f1f1;
            : ;
        }</style><table id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1d" ><thead>    <tr>        <th class="col_heading level0 col0" >Phrase</th>        <th class="col_heading level0 col1" >Type</th>        <th class="col_heading level0 col2" >Count</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow0_col0" class="data row0 col0" >shall</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow0_col1" class="data row0 col1" >Imperative</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow0_col2" class="data row0 col2" >1</td>
            </tr>
            <tr>
                                <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow1_col0" class="data row1 col0" >must</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow1_col1" class="data row1 col1" >Imperative</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow1_col2" class="data row1 col2" >2</td>
            </tr>
            <tr>
                                <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow2_col0" class="data row2 col0" >are to</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow2_col1" class="data row2 col1" >Imperative</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow2_col2" class="data row2 col2" >1</td>
            </tr>
            <tr>
                                <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow3_col0" class="data row3 col0" >responsible for</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow3_col1" class="data row3 col1" >Imperative</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow3_col2" class="data row3 col2" >1</td>
            </tr>
            <tr>
                                <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow4_col0" class="data row4 col0" >will</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow4_col1" class="data row4 col1" >Imperative</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow4_col2" class="data row4 col2" >6</td>
            </tr>
            <tr>
                                <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow5_col0" class="data row5 col0" >should</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow5_col1" class="data row5 col1" >Imperative</td>
                        <td id="T_6e521ae2_0acc_11ea_b9c4_002324e30c1drow5_col2" class="data row5 col2" >8</td>
            </tr>
    </tbody></table>