<style  type="text/css" >
    #T_6e5b6276_0acc_11ea_92fb_002324e30c1drow0_col0 {
            color:  maroon;
        }    #T_6e5b6276_0acc_11ea_92fb_002324e30c1drow0_col2 {
            background-color:  #e5e5ff;
            color:  #000000;
            : ;
        }</style><table id="T_6e5b6276_0acc_11ea_92fb_002324e30c1d" ><thead>    <tr>        <th class="col_heading level0 col0" >Phrase</th>        <th class="col_heading level0 col1" >Type</th>        <th class="col_heading level0 col2" >Count</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_6e5b6276_0acc_11ea_92fb_002324e30c1drow0_col0" class="data row0 col0" >and</td>
                        <td id="T_6e5b6276_0acc_11ea_92fb_002324e30c1drow0_col1" class="data row0 col1" >Continuance</td>
                        <td id="T_6e5b6276_0acc_11ea_92fb_002324e30c1drow0_col2" class="data row0 col2" >29</td>
            </tr>
    </tbody></table>