<style  type="text/css" >
    #T_6e5e6dac_0acc_11ea_beee_002324e30c1drow0_col0 {
            color:  maroon;
        }    #T_6e5e6dac_0acc_11ea_beee_002324e30c1drow0_col2 {
            background-color:  #e5e5ff;
            color:  #000000;
            : ;
        }    #T_6e5e6dac_0acc_11ea_beee_002324e30c1drow1_col0 {
            color:  maroon;
        }    #T_6e5e6dac_0acc_11ea_beee_002324e30c1drow1_col2 {
            background-color:  #0000ff;
            color:  #f1f1f1;
            : ;
        }</style><table id="T_6e5e6dac_0acc_11ea_beee_002324e30c1d" ><thead>    <tr>        <th class="col_heading level0 col0" >Phrase</th>        <th class="col_heading level0 col1" >Type</th>        <th class="col_heading level0 col2" >Count</th>    </tr></thead><tbody>
                <tr>
                                <td id="T_6e5e6dac_0acc_11ea_beee_002324e30c1drow0_col0" class="data row0 col0" >can</td>
                        <td id="T_6e5e6dac_0acc_11ea_beee_002324e30c1drow0_col1" class="data row0 col1" >option</td>
                        <td id="T_6e5e6dac_0acc_11ea_beee_002324e30c1drow0_col2" class="data row0 col2" >2</td>
            </tr>
            <tr>
                                <td id="T_6e5e6dac_0acc_11ea_beee_002324e30c1drow1_col0" class="data row1 col0" >may</td>
                        <td id="T_6e5e6dac_0acc_11ea_beee_002324e30c1drow1_col1" class="data row1 col1" >option</td>
                        <td id="T_6e5e6dac_0acc_11ea_beee_002324e30c1drow1_col2" class="data row1 col2" >4</td>
            </tr>
    </tbody></table>