<table border="1" class="dataframe table table-striped table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Phrase</th>
      <th>Type</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>shall</td>
      <td>Imperative</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>must</td>
      <td>Imperative</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>are to</td>
      <td>Imperative</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>responsible for</td>
      <td>Imperative</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>will</td>
      <td>Imperative</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>should</td>
      <td>Imperative</td>
      <td>8</td>
    </tr>
  </tbody>
</table>